@import "./global.css";

.head {
  font-size: 1rem;
}

.head-direction{
  flex-direction: column;
  padding: 20px 10px;
}

.head img {
  border-radius: 50%;
  width: 80px;
}

.add-profile-btn {
  background-color: gray;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 5rem;
  font-weight: 200;
}

.user-profile-name{
  padding-top: 5px;
}

/************************************************************/

.continue p{
  margin: 15px 0;
}

.continue{
  display: grid;
}

.continue-list{
  display: flex;
}



.continue-list span{
  display: block;
  margin-top: 0.3rem;
}

.continue-list li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0.5rem;
}

.continue-list--card {
  
  padding: 5px;
  border-radius: 7%;
  position: relative;
  border-radius: 7%;
  display: grid;
  padding: 8px;
}

.continue-list--card::before {
  
  content: "";
  background-color: var(--purple);
  position: absolute;
  opacity: 40%;
  width: 100%;
  height: 100%;
  border-radius: 7%;
  z-index: -1;
}

.continue-list img{
  width: 200px;
  height: 120px;
  border-radius: 7%;
  
}

hr {
  background: var(--border-color);
  border: 0;
  height: 1px;
}

/**********************************************************************/

.wishlist {
  display: block;
}

.wishlist--item {
  width: 100%;
  height: 100px;
  background-color: var(--purple);
  margin: 15px 5px;
  display: flex;
  align-items: center;
  padding: 10px;

}

.wishlist img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.wishlist--item--contents{
  display: flex;
  flex-direction: column;
}
