/* body의 스타일 태그입니다. 배경색과 정렬 등을 담당합니다. */
body {
  background-color: #ff9eaa;
  padding-top: 8rem;
 
}

/* card의 스타일 태그입니다. 배경색과 정렬, 크기 등을 담당합니다. */


/* banner의 스타일 태그입니다. 배너 이미지 및 정렬 등을 담당합니다. */

/* profile의 스타일 태그입니다. 프로필 크기와 사진 등을 담당합니다. */

  
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

  /* 크기 변형 적용 */
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* profile의 크기 변형 값 */


/* name의 스타일 태그입니다. 글자 정렬과 간격을 담당합니다. */


/* follow button의 스타일 태그입니다. 버튼의 정렬 및 간격을 담당합니다 */


/* follow button의 자식 스타일 태그입니다. 버튼 디자인을 담당합니다. */


/* 버튼의크기 변형 값 */


/* description의 스타일 태그입니다. 자기소개 간격을 결정합니다. */
